/*
 * Helvetica Neue
 */
@font-face{
  font-family: 'Helvetica Neue';
  src:url("../fonts/helvetica-neue/helvetica-neue-ultra-light.eot?#iefix");
  src:url("../fonts/helvetica-neue/helvetica-neue-ultra-light.eot?#iefix") format("eot"),url("../fonts/helvetica-neue/helvetica-neue-ultra-light.woff2") format("woff2"),url("../fonts/helvetica-neue/helvetica-neue-ultra-light.woff") format("woff"),url("../fonts/helvetica-neue/helvetica-neue-ultra-light.ttf") format("truetype"),url("../fonts/helvetica-neue/helvetica-neue-ultra-light.svg#helvetica-neue-ultra-light") format("svg");
  font-weight: 100;
  font-style: normal;
}
@font-face{
  font-family: 'Helvetica Neue';
  src:url("../fonts/helvetica-neue/helvetica-neue-ultra-light-italic.eot?#iefix");
  src:url("../fonts/helvetica-neue/helvetica-neue-ultra-light-italic.eot?#iefix") format("eot"),url("../fonts/helvetica-neue/helvetica-neue-ultra-light-italic.woff2") format("woff2"),url("../fonts/helvetica-neue/helvetica-neue-ultra-light-italic.woff") format("woff"),url("../fonts/helvetica-neue/helvetica-neue-ultra-light-italic.ttf") format("truetype"),url("../fonts/helvetica-neue/helvetica-neue-ultra-light-italic.svg#helvetica-neue-ultra-light-italic") format("svg");
  font-weight: 100;
  font-style: italic;
}
@font-face{
  font-family: 'Helvetica Neue';
  src:url("../fonts/helvetica-neue/helvetica-neue-thin.eot?#iefix");
  src:url("../fonts/helvetica-neue/helvetica-neue-thin.eot?#iefix") format("eot"),url("../fonts/helvetica-neue/helvetica-neue-thin.woff2") format("woff2"),url("../fonts/helvetica-neue/helvetica-neue-thin.woff") format("woff"),url("../fonts/helvetica-neue/helvetica-neue-thin.ttf") format("truetype"),url("../fonts/helvetica-neue/helvetica-neue-thin.svg#helvetica-neue-thin") format("svg");
  font-weight: 200;
  font-style: normal;
}
@font-face{
  font-family: 'Helvetica Neue';
  src:url("../fonts/helvetica-neue/helvetica-neue-thin-italic.eot?#iefix");
  src:url("../fonts/helvetica-neue/helvetica-neue-thin-italic.eot?#iefix") format("eot"),url("../fonts/helvetica-neue/helvetica-neue-thin-italic.woff2") format("woff2"),url("../fonts/helvetica-neue/helvetica-neue-thin-italic.woff") format("woff"),url("../fonts/helvetica-neue/helvetica-neue-thin-italic.ttf") format("truetype"),url("../fonts/helvetica-neue/helvetica-neue-thin-italic.svg#helvetica-neue-thin-italic") format("svg");
  font-weight: 200;
  font-style: italic;
}
@font-face{
  font-family: 'Helvetica Neue';
  src:url("../fonts/helvetica-neue/helvetica-neue-light.eot?#iefix");
  src:url("../fonts/helvetica-neue/helvetica-neue-light.eot?#iefix") format("eot"),url("../fonts/helvetica-neue/helvetica-neue-light.woff2") format("woff2"),url("../fonts/helvetica-neue/helvetica-neue-light.woff") format("woff"),url("../fonts/helvetica-neue/helvetica-neue-light.ttf") format("truetype"),url("../fonts/helvetica-neue/helvetica-neue-light.svg#helvetica-neue-light") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face{
  font-family: 'Helvetica Neue';
  src:url("../fonts/helvetica-neue/helvetica-neue-light-italic.eot?#iefix");
  src:url("../fonts/helvetica-neue/helvetica-neue-light-italic.eot?#iefix") format("eot"),url("../fonts/helvetica-neue/helvetica-neue-light-italic.woff2") format("woff2"),url("../fonts/helvetica-neue/helvetica-neue-light-italic.woff") format("woff"),url("../fonts/helvetica-neue/helvetica-neue-light-italic.ttf") format("truetype"),url("../fonts/helvetica-neue/helvetica-neue-light-italic.svg#helvetica-neue-light-italic") format("svg");
  font-weight: 300;
  font-style: italic;
}
@font-face{
  font-family: 'Helvetica Neue';
  src:url("../fonts/helvetica-neue/helvetica-neue.eot?#iefix");
  src:url("../fonts/helvetica-neue/helvetica-neue.eot?#iefix") format("eot"),url("../fonts/helvetica-neue/helvetica-neue.woff2") format("woff2"),url("../fonts/helvetica-neue/helvetica-neue.woff") format("woff"),url("../fonts/helvetica-neue/helvetica-neue.ttf") format("truetype"),url("../fonts/helvetica-neue/helvetica-neue.svg#helvetica-neue") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face{
  font-family: 'Helvetica Neue';
  src:url("../fonts/helvetica-neue/helvetica-neue-italic.eot?#iefix");
  src:url("../fonts/helvetica-neue/helvetica-neue-italic.eot?#iefix") format("eot"),url("../fonts/helvetica-neue/helvetica-neue-italic.woff2") format("woff2"),url("../fonts/helvetica-neue/helvetica-neue-italic.woff") format("woff"),url("../fonts/helvetica-neue/helvetica-neue-italic.ttf") format("truetype"),url("../fonts/helvetica-neue/helvetica-neue-italic.svg#helvetica-neue-italic") format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face{
  font-family: 'Helvetica Neue';
  src:url("../fonts/helvetica-neue/helvetica-neue-medium.eot?#iefix");
  src:url("../fonts/helvetica-neue/helvetica-neue-medium.eot?#iefix") format("eot"),url("../fonts/helvetica-neue/helvetica-neue-medium.woff2") format("woff2"),url("../fonts/helvetica-neue/helvetica-neue-medium.woff") format("woff"),url("../fonts/helvetica-neue/helvetica-neue-medium.ttf") format("truetype"),url("../fonts/helvetica-neue/helvetica-neue-medium.svg#helvetica-neue-medium") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face{
  font-family: 'Helvetica Neue';
  src:url("../fonts/helvetica-neue/helvetica-neue-medium-italic.eot?#iefix");
  src:url("../fonts/helvetica-neue/helvetica-neue-medium-italic.eot?#iefix") format("eot"),url("../fonts/helvetica-neue/helvetica-neue-medium-italic.woff2") format("woff2"),url("../fonts/helvetica-neue/helvetica-neue-medium-italic.woff") format("woff"),url("../fonts/helvetica-neue/helvetica-neue-medium-italic.ttf") format("truetype"),url("../fonts/helvetica-neue/helvetica-neue-medium-italic.svg#helvetica-neue-medium-italic") format("svg");
  font-weight: 500;
  font-style: italic;
}
@font-face{
  font-family: 'Helvetica Neue';
  src:url("../fonts/helvetica-neue/helvetica-neue-bold.eot?#iefix");
  src:url("../fonts/helvetica-neue/helvetica-neue-bold.eot?#iefix") format("eot"),url("../fonts/helvetica-neue/helvetica-neue-bold.woff2") format("woff2"),url("../fonts/helvetica-neue/helvetica-neue-bold.woff") format("woff"),url("../fonts/helvetica-neue/helvetica-neue-bold.ttf") format("truetype"),url("../fonts/helvetica-neue/helvetica-neue-bold.svg#helvetica-neue-bold") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face{
  font-family: 'Helvetica Neue';
  src:url("../fonts/helvetica-neue/helvetica-neue-bold-italic.eot?#iefix");
  src:url("../fonts/helvetica-neue/helvetica-neue-bold-italic.eot?#iefix") format("eot"),url("../fonts/helvetica-neue/helvetica-neue-bold-italic.woff2") format("woff2"),url("../fonts/helvetica-neue/helvetica-neue-bold-italic.woff") format("woff"),url("../fonts/helvetica-neue/helvetica-neue-bold-italic.ttf") format("truetype"),url("../fonts/helvetica-neue/helvetica-neue-bold-italic.svg#helvetica-neue-bold-italic") format("svg");
  font-weight: 700;
  font-style: italic;
}
@font-face{
  font-family: 'Helvetica Neue';
  src:url("../fonts/helvetica-neue/helvetica-neue-heavy.eot?#iefix");
  src:url("../fonts/helvetica-neue/helvetica-neue-heavy.eot?#iefix") format("eot"),url("../fonts/helvetica-neue/helvetica-neue-heavy.woff2") format("woff2"),url("../fonts/helvetica-neue/helvetica-neue-heavy.woff") format("woff"),url("../fonts/helvetica-neue/helvetica-neue-heavy.ttf") format("truetype"),url("../fonts/helvetica-neue/helvetica-neue-heavy.svg#helvetica-neue-heavy") format("svg");
  font-weight: 800;
  font-style: normal;
}
@font-face{
  font-family: 'Helvetica Neue';
  src:url("../fonts/helvetica-neue/helvetica-neue-heavy-italic.eot?#iefix");
  src:url("../fonts/helvetica-neue/helvetica-neue-heavy-italic.eot?#iefix") format("eot"),url("../fonts/helvetica-neue/helvetica-neue-heavy-italic.woff2") format("woff2"),url("../fonts/helvetica-neue/helvetica-neue-heavy-italic.woff") format("woff"),url("../fonts/helvetica-neue/helvetica-neue-heavy-italic.ttf") format("truetype"),url("../fonts/helvetica-neue/helvetica-neue-heavy-italic.svg#helvetica-neue-heavy-italic") format("svg");
  font-weight: 800;
  font-style: italic;
}
@font-face{
  font-family: 'Helvetica Neue';
  src:url("../fonts/helvetica-neue/helvetica-neue-black.eot?#iefix");
  src:url("../fonts/helvetica-neue/helvetica-neue-black.eot?#iefix") format("eot"),url("../fonts/helvetica-neue/helvetica-neue-black.woff2") format("woff2"),url("../fonts/helvetica-neue/helvetica-neue-black.woff") format("woff"),url("../fonts/helvetica-neue/helvetica-neue-black.ttf") format("truetype"),url("../fonts/helvetica-neue/helvetica-neue-black.svg#helvetica-neue-black") format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face{
  font-family: 'Helvetica Neue';
  src:url("../fonts/helvetica-neue/helvetica-neue-black-italic.eot?#iefix");
  src:url("../fonts/helvetica-neue/helvetica-neue-black-italic.eot?#iefix") format("eot"),url("../fonts/helvetica-neue/helvetica-neue-black-italic.woff2") format("woff2"),url("../fonts/helvetica-neue/helvetica-neue-black-italic.woff") format("woff"),url("../fonts/helvetica-neue/helvetica-neue-black-italic.ttf") format("truetype"),url("../fonts/helvetica-neue/helvetica-neue-black-italic.svg#helvetica-neue-black-italic") format("svg");
  font-weight: 900;
  font-style: italic;
}

/*
 * Futura Bold
 * Cooper Light/Medium/Black
 */

/*
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=d2fea0fc-09d5-4d6a-b2da-67488e412f28");
@font-face{
  font-family:"Cooper";
  font-weight: 300;
  src:url("../fonts/313faf7f-c695-4da8-aa44-5e7881466d2c.eot?#iefix");
  src:url("../fonts/313faf7f-c695-4da8-aa44-5e7881466d2c.eot?#iefix") format("eot"),url("../fonts/d02e214c-1036-412c-a19c-71c32739a0da.woff2") format("woff2"),url("../fonts/05fbaea7-e813-47a1-a9cb-8bbad7e9ebb7.woff") format("woff"),url("../fonts/22d3477e-bb6a-495e-932b-6614c48fabb3.ttf") format("truetype"),url("../fonts/531de43f-21d8-43a7-9e2c-866b52ae72ba.svg#531de43f-21d8-43a7-9e2c-866b52ae72ba") format("svg");
}
@font-face{
  font-family:"Cooper";
  font-weight: 500;
  src:url("../fonts/a7f3cc9b-2ecb-4ad7-8eaf-d3a41006b6d1.eot?#iefix");
  src:url("../fonts/a7f3cc9b-2ecb-4ad7-8eaf-d3a41006b6d1.eot?#iefix") format("eot"),url("../fonts/466ea4ff-b573-4810-9406-1f30c95340dc.woff2") format("woff2"),url("../fonts/e452d20e-7af8-475d-9ca5-f1720fa697ec.woff") format("woff"),url("../fonts/e63d93ee-a29a-4515-bab2-7264cf79a8a8.ttf") format("truetype"),url("../fonts/96c0d555-00c3-4aa7-98e0-394b56215f35.svg#96c0d555-00c3-4aa7-98e0-394b56215f35") format("svg");
}
@font-face{
  font-family:"Cooper";
  font-weight: 900;
  src:url("../fonts/4d139a05-2fd8-41f5-966f-a6bde424c606.eot?#iefix");
  src:url("../fonts/4d139a05-2fd8-41f5-966f-a6bde424c606.eot?#iefix") format("eot"),url("../fonts/b3e9c7a6-ff73-422b-a6fb-1c522d608b5c.woff2") format("woff2"),url("../fonts/260d8507-7916-4b4f-84f0-3e6e48f5725a.woff") format("woff"),url("../fonts/70220841-2ee0-47d7-94e9-9ef2d6166d31.ttf") format("truetype"),url("../fonts/bfec4581-c5b8-4f3c-92dc-7b6c3b5f87cd.svg#bfec4581-c5b8-4f3c-92dc-7b6c3b5f87cd") format("svg");
}
@font-face{
  font-family:"Futura";
  font-weight: 700;
  src:url("../fonts/87f56fc1-ab05-4355-90af-9e83740663af.eot?#iefix");
  src:url("../fonts/87f56fc1-ab05-4355-90af-9e83740663af.eot?#iefix") format("eot"),url("../fonts/3cf9e1e8-63a2-497f-86ed-6b63d6de1986.woff2") format("woff2"),url("../fonts/184895ac-545b-450b-9d3a-c0a0a7620977.woff") format("woff"),url("../fonts/bf8628d2-1ae0-4645-ba3f-3ce62d8d907c.ttf") format("truetype"),url("../fonts/20073de8-56dd-4e4c-9434-5097c3f2fd28.svg#20073de8-56dd-4e4c-9434-5097c3f2fd28") format("svg");
}
*/