// Fonts

@import 'fonts';
$font-family-helvetica:     'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-futura:        'Futura W01', sans-serif;
$font-family-cooper:        'Cooper BT W01', sans-serif;

// Bootstrap Overrides

$brand-orange:              #ff9900;
$brand-red:                 #cc0000;

$brand-primary:             $brand-orange;

$navbar-height:             65px;

$navbar-default-toggle-icon-bar-bg: $brand-red;
$navbar-default-toggle-border-color: $brand-red;

$btn-primary-border:        $brand-primary;
$btn-border-radius-base:    10px;
$btn-border-radius-large:   10px;
$btn-border-radius-small:   10px;

$headings-font-family:      $font-family-futura;

@import "bootstrap";
@import "jquery-ui";

.btn-secondary{
  @include button-variant(#ffffff, $brand-red, $brand-red);
}

body {
  padding-top: 65px;
  padding-bottom: 40px;
  overflow-y: scroll;
}

.nav > li > a,
.btn {
  font-family: $font-family-cooper;
  font-weight: 900;
}

/*
 * Navbar
 */

.navbar {
  background: #ffffff;
}

.navbar-fixed-top {
  border-color: $brand-orange;
}

.navbar-inverse .navbar-nav > li > a {
  color: $brand-orange;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: $brand-red;
}

/*
 * Sidebar
 */

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 66px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;

  > li > a {
    padding-right: 20px;
    padding-left: 20px;
  }

  > .active > a,
  > .active > a:hover,
  > .active > a:focus {
    color: #fff;
    background-color: $brand-red;
  }
}


/*
 * Main content
 */

.main {
  padding: 20px;

  .page-header {
    margin-top: 0;
    padding-bottom: 20px;
  }
  .sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}


.delete-form {
  display: inline;
}

.ui-sortable-handle {
  cursor: ns-resize;
}
.order-placeholder td {
  background: #ddd;
}

#alerts {
  position: fixed;
  z-index: 10000;
  top: 100px;
  right: 50px;

  .alert {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
  }
}