// Fonts

@import 'fonts';
$font-family-helvetica:     'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-futura:        'Futura W01', sans-serif;
$font-family-cooper:        'Cooper BT W01', sans-serif;

// Bootstrap Overrides

$gray-darker:               #333333;
$gray-dark:                 #666666;

$brand-orange:              #ff9900;
$brand-red:                 #cc0000;

$brand-primary:             $brand-orange;

$font-family-serif:         $font-family-cooper;
$font-family-sans-serif:    $font-family-futura;

$headings-font-family:      $font-family-sans-serif;
$font-family-base:          $font-family-serif;
$text-color:                $gray-darker;

$navbar-height:             60px;
$navbar-padding-vertical:   15px;
$navbar-default-bg:         #ffffff;
$navbar-default-link-active-bg: transparent;
$navbar-default-link-active-color: $brand-red;
$navbar-default-link-hover-color: $brand-red;

$input-bg:                  #ebebeb;
$input-border:              #cccccc;
$input-border-focus:        $brand-orange;
$input-border-radius:       0;

$grid-float-breakpoint:     992px;

$font-family-icon: 'Glyphicons Halflings';
$check-icon: "\e013";

$navbar-collapse-max-height: 380px;

@import "bootstrap";
@import "awesome-bootstrap-checkbox";
@import "jquery-ui";
@import "slick";
@import "slick-theme";
@import "lightgallery";
@import "lightgallery-transitions";
@import "animate";

// Browser Upgrade Prompt

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Custom styles

.checkbox input {
  cursor: pointer;
}
.checkbox label:after {
  padding-left: 4px;
  padding-top: 2px;
  font-size: 9px;
}

::selection { background: $brand-red; }

body {
  padding-top: 66px;
}

h1, h2, h3, h4, h5, h6 {
  color: #000000;
}

h1 {
  font-size: 40px;
  text-transform: uppercase;
}
h2 {
  font-size: 28px;
}
h3 {
  font-family: $font-family-cooper;
  font-weight: 900;
  font-size: 22px;
}
h6 {
  font-family: $font-family-futura;
  font-weight: bold;
  color: #999999;
  text-transform: uppercase;
}

blockquote {
  font-size: 14px;
}

form {
  font-family: $font-family-helvetica;

  label {
    font-family: $font-family-futura;
    text-transform: uppercase;
  }
}

.heading {
  margin: 60px 0;
}

.btn {
  font-family: $font-family-cooper;
  font-weight: 900;
  border-radius: 16px;
}
.btn-lg {
  font-size: 18px;
  border-radius: 24px;
  padding: 10px 30px;
  border-color: #ffffff;
}
.btn-secondary{
  @include button-variant(#ffffff, $brand-red, $brand-red);
}
.btn-black{
  @include button-variant(#ffffff, #333333, #333333);
}

.indent {
  margin: 0 30px;
}

.spacer {
  margin-top: 60px;
}

.affix, .affix-top {
  position: static;
}
@media (min-width: $screen-md-min) {
  .affix {
    position: fixed; /* Undo the static from mobile first approach */
  }
  .affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  /* Widen the fixed sidebar */
  .col-md-3 > .affix,
  .col-md-3 > .affix-bottom {
    width: 212px;
  }
}
@media (min-width: $screen-lg-min) {
  /* Widen the fixed sidebar again */
  .col-lg-3 > .affix,
  .col-lg-3 > .affix-bottom,
  .col-md-3 > .affix,
  .col-md-3 > .affix-bottom {
    width: 262px;
  }
}

#header-navbar {
  border-top: 2px solid $brand-orange;
  box-shadow: 0 -4px 0 4px $brand-red;
  margin-top: 4px;

  h1 {
    margin: 0;
  }
}

.navbar-default .navbar-nav > li > a {
  line-height: 30px;
  color: #333333;
  font-family: $font-family-cooper;
  font-weight: 900;
  padding-left: 10px;
  padding-right: 10px;

  @media (max-width: $screen-sm-max) {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    font-size: 13px;
    padding-left: 8px;
    padding-right: 8px;
  }
}
.navbar-brand {
  padding-left: 10px;
  padding-right: 10px;
}

.view-switcher {
  border-radius: 16px;
  background: #e1e1e1;
  display: inline-block;

  a {
    display: inline-block;
    font-family: $font-family-futura;
    font-weight: bold;
    text-transform: uppercase;
    color: #999999;
    padding: 6px 12px;
    border-radius: 16px;

    &.active {
      background: $brand-orange;
      color: #ffffff;
    }
    &:hover {
      text-decoration: none;
      color: #ffffff;
    }
  }
}

#search-bar {
  padding: 30px 0;
  margin-bottom: 60px;
  border-bottom: 1px solid #ebebeb;

  h3 {
    font-family: $font-family-futura;
    margin: 0;
  }

  form {
    margin-top: 30px;
  }

  @media(max-width: $screen-xs-max) {
    form {
      margin-top: 15px;
    }
    .view-switcher {
      margin-top: 15px;
    }
  }
  @media(min-width: $screen-sm-min) {
    .form-group {
      border-right: 1px solid #ebebeb;
      padding-right: 15px;
      margin-right: 15px;

      &:last-child {
        border-right: 0;
        padding-right: 0;
        margin-right: 0;
      }

      label {
        padding-right: 15px;
        font-family: $font-family-helvetica;
        text-transform: none;
      }
    }
  }
  @media(min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .form-group {
      label {
        padding-right: 10px;
      }
    }
    .btn {
      margin-top: 15px;
    }
  }
}

.banner {

  &#sunset {
    background-image: url('/assets/images/banners/sunset.jpg');
  }
  &#interior {
    background-image: url('/assets/images/banners/interior.jpg');
  }
  &#photos {
    background-image: url('/assets/images/banners/photos.jpg');
  }
  &#home {
    background-image: url('/assets/images/banners/home.jpg');
    h2 {
      font-size: 90px;
      line-height: 45px;
      small {
        color: inherit;
        font-size: 48px;
      }

      @media (max-width: $screen-xs) {
        font-size: 56px;

        small {
          font-size: 30px;
        }
      }
    }
  }

  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    height: 100px;
    width: 100%;
    background: #ffffff;
  }
  &:before {
    top: -50px;
  }
  &:after {
    bottom: -50px;
  }

  &.ltr {
    &:before {
      -ms-transform: skewY(1.5deg);
      -moz-transform: skewY(1.5deg);
      -webkit-transform: skewY(1.5deg);
      transform: skewY(1.5deg);
    }

    &:after {
      -ms-transform: skewY(-1.5deg);
      -moz-transform: skewY(-1.5deg);
      -webkit-transform: skewY(-1.5deg);
      transform: skewY(-1.5deg);
    }
  }

  &.rtl {
    &:before {
      -ms-transform: skewY(-1.5deg);
      -moz-transform: skewY(-1.5deg);
      -webkit-transform: skewY(-1.5deg);
      transform: skewY(-1.5deg);
    }

    &:after {
      -ms-transform: skewY(1.5deg);
      -moz-transform: skewY(1.5deg);
      -webkit-transform: skewY(1.5deg);
      transform: skewY(1.5deg);
    }
  }

  &.top {
    &:before {
      display: none;
    }
    margin-top: 0;
  }

  &.empty {
    padding: 300px 0;
  }

  position: relative;
  z-index: 0;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding: 200px 0;
  margin-top: 60px;
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
  @media (max-width: $screen-sm) {
    background-attachment: inherit;
  }

  h2 {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 60px;
    margin: 0 0 20px 0;

    @media (max-width: $screen-xs) {
      font-size: 40px;
    }
  }
  h4 {
    color: #ffffff;
    margin: 20px 0;
  }
  h5 {
    color: #ffffff;
    line-height: 1.5;
  }

  .banner-overlay {
    background: $brand-orange;
    width: 50%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: -30px;
    right: -20px;
    -ms-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    transform: rotate(-3deg);

    &.red {
      background: $brand-red;
      width: 40%;
    }

    @media (max-width: $screen-sm-max) {
      display: none;
    }
  }
}

.guide-section {
  margin-top: 60px;

  &.colored {
    background-color: #f4f4f4;
    position: relative;
    z-index: 0;
    overflow: hidden;
    padding: 100px 0;

    &:before, &:after {
      content: '';
      display: block;
      position: absolute;
      height: 100px;
      width: 100%;
      background: #ffffff;
    }
    &:before {
      top: -50px;
    }
    &:after {
      bottom: -50px;
    }

    &.ltr {
      &:before {
        -ms-transform: skewY(1.5deg);
        -moz-transform: skewY(1.5deg);
        -webkit-transform: skewY(1.5deg);
        transform: skewY(1.5deg);
      }

      &:after {
        -ms-transform: skewY(-1.5deg);
        -moz-transform: skewY(-1.5deg);
        -webkit-transform: skewY(-1.5deg);
        transform: skewY(-1.5deg);
      }
    }

    &.rtl {
      &:before {
        -ms-transform: skewY(-1.5deg);
        -moz-transform: skewY(-1.5deg);
        -webkit-transform: skewY(-1.5deg);
        transform: skewY(-1.5deg);
      }

      &:after {
        -ms-transform: skewY(1.5deg);
        -moz-transform: skewY(1.5deg);
        -webkit-transform: skewY(1.5deg);
        transform: skewY(1.5deg);
      }
    }
  }

  h2 {
    text-transform: uppercase;
    margin: 0;
  }
  h4 {
    text-transform: uppercase;
    margin: 0;
  }

  .marker {
    margin: 30px auto;
    display: block;
  }

}

#van-header {
  padding: 30px 0;
  position: static;
  top: 6px;
  z-index: 1040;
  width: 100%;
  background: #ffffff;
  border-bottom: 1px solid #eeeeee;

  h4 {
    text-transform: uppercase;
    margin: 0;

    span {
      color: #999999;
    }
  }
  h6 {
    margin: 0;
  }

  #nights {
    margin-right: 15px;
  }

  #price {
    display: none;
    font-family: $font-family-futura;
  }

  .btn {
    margin-left: 15px;
  }

  @media (max-width: $screen-xs-max) {
    .btn {
      display: block;
      width: 100%;
      margin: 10px 0 0;
    }
  }
}

.grid-box {
  .img-container {
    margin: 0 20px;
  }

  h3 {
    a {
      color: inherit;
      text-decoration: none;
    }
  }

  &:hover {
    h3 a {
      color: $brand-orange;
    }
  }
}

a.grid-box {
  color: inherit;
  text-decoration: inherit;

  &:hover {
    h3 {
      color: $brand-orange;
    }
  }
}

.van-box {
  margin-bottom: 60px;
  p {
    min-height: 76px;
  }

  h3 a {
    color: inherit;

    &:hover {
      text-decoration: none;
    }
  }
  img {
    padding: 0 15px;
  }
  .price {
    font-family: $font-family-futura;
    font-size: 18px;
  }
  .price-from {
    font-family: $font-family-helvetica;
    display: block;
    text-transform: uppercase;
    line-height: 1;
    font-size: 10px;
  }

  &.unavailable {
    opacity: 0.5;

    .price {
      color: $brand-red;
    }
  }
}

.motorhome {
  p {
    min-height: 0;
  }
  img {
    max-width: 80%;
    display: inline-block;
    @media(max-width: $screen-md-min) {
      max-width: 100%;
      display: block;
    }
  }
}

.booking-van {

  .booking-van-header {
    background: #333333;
    padding: 15px;
    color: #ffffff;
    text-transform: uppercase;

    h4 {
      color: #ffffff;
      margin-top: 0;

      span {
        opacity: 0.5;
      }
    }
  }

  .price {
    font-family: $font-family-futura;
    font-size: 18px;
    text-align: right;
  }
  small{
    font-family: $font-family-helvetica;
    text-transform: uppercase;
    font-size: 10px;
  }
}

#booking-form {

  margin-top: 30px;

  section {
    background: #f4f4f4;
    padding: 30px;
    margin-bottom: 30px;

    h2 {
      margin-top: 0;
      margin-bottom: 30px;
      font-size: 22px;
    }

    .form-control {
      background: #ffffff;
    }
  }

  table.options {
    font-family: $font-family-cooper;
    font-weight: 500;

    .price {
      font-weight: 900;
    }
    .add {
      font-family: $font-family-futura;
    }
    .input {
      width: 60px;
      input {
        width: 60px;
      }
    }
  }

  #confirm-booking {
    text-align: right;
    margin: 30px 0;
    padding: 30px 0;
    border-top: 1px solid $brand-red;
    border-bottom: 1px solid $brand-red;
  }

  #referrer-specific-container,
  .child-age {
    display: none;
  }

}

#confirmation-van-info {
  h2 {
    text-transform: uppercase;
    margin-bottom: 0;
  }
  h6 {
    margin-top: 0;
    margin-bottom: 60px;
  }

  .btn {
    margin: 30px 0;
  }
}

#confirmation-total {

  text-align: right;
  font-family: $font-family-futura;
  font-size: 28px;

  span {
    font-family: $font-family-helvetica;
    text-transform: uppercase;
    font-size: 10px;
  }
}

#collecting-your-camper {
  background: #f4f4f4;
  margin-bottom: 30px;
  margin-top: 30px;
}

#footer {
  margin: 60px 0;
  text-align: center;

  .social-icon {
    margin: 0 15px;

    &:hover {
      text-decoration: none;
    }
  }
  #footer-nav {
    margin: 60px 0;

    a {
      display: inline-block;
      color: #000000;
      font-family: $font-family-futura;
      font-weight: bold;
      text-transform: uppercase;
      padding-right: 10px;
      margin-right: 10px;
      border-right: 1px solid #000000;

      &:last-child {
        padding-right: 0;
        margin-right: 0;
        border-right: none;
      }

      &:hover {
        color: $brand-red;
        text-decoration: none;
      }
    }
  }
}

#contact-map {
  height: 100%;
  width: 65%;
  position: absolute;
  top: 0;
  z-index: -1;

  @media(max-width: $screen-sm-max) {
    background-color: $brand-red !important;
    width: 100%;

    > .gm-style {
      display: none;
    }
  }
}

#collection-map {
  height: 300px;
  margin-right: -15px;
}

#home-slider {
  .slick-slide {
    margin: 0 15px;
  }
}

.slider-filter {
  margin-top: -40px;
  margin-bottom: 20px;
  a {
    display: inline-block;
    font-family: $font-family-futura;
    font-weight: bold;
    color: #999999;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1;
    padding: 0 10px;
    border-right: 1px solid #999999;

    &:last-child {
      border-right: none;
    }
    &.active {
      color: #000000;
    }
  }
}


table.pricing {
  width: 100%;
  text-align: center;
  table-layout: fixed;

  thead {
    background: #ffffff;
    th {
      text-align: center;
      text-transform: uppercase;
      padding: 10px;
      font-family: $font-family-futura;
      border-bottom: 1px solid #ebebeb;
      border-left: 1px solid #ebebeb;
      border-right: 1px solid #ebebeb;

      small {
        font-size: 66%;
        color: #999999;
      }
      &.month {
        width: 220px;
        text-align: left;
        border-left: none;
        border-right: none;
      }
      &.stay {
        width: 120px;
        border-left: none;
        border-right: none;
      }
      &.arrows {
        width: 70px;
        font-size: 20px;
        line-height: 38px;
      }
    }
  }

  tbody {
    th {
      text-align: right;
      font-size: 12px;
      padding: 10px;
      background: #f7f7f7;

      &.van {
        text-align: left;
        border-bottom: 5px solid #ffffff;

        h3 {
          font-size: 18px;
          margin: 10px 0 0;
        }
        small {
          font-family: $font-family-futura;
          color: #999999;
          text-transform: uppercase;
        }
      }
    }

    td {
      background: #f7f7f7;
      border: 1px solid #ffffff;

      &.label {
        background: #ffffff;
      }
      &.unavailable {
        background: #fbdddd;
      }
      &.available {
        background: #c6eadf;
        padding: 0;

        &:hover {
          background: #7ce69d;

          a::after {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7ce69d+0,ffffff+49,7ce69d+49,ffffff+50,ffffff+51,c6eadf+100&1+0,1+50,0+51,0+100 */
            background: -moz-linear-gradient(-45deg,  rgba(124,230,157,1) 0%, rgba(124,230,157,1) 49%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 51%, rgba(198,234,223,0) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(-45deg,  rgba(124,230,157,1) 0%,rgba(124,230,157,1) 49%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 51%,rgba(198,234,223,0) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(135deg,  rgba(124,230,157,1) 0%,rgba(124,230,157,1) 49%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 51%,rgba(198,234,223,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ce69d', endColorstr='#00c6eadf',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
          }
        }

        a {
          color: inherit;
          display: block;
          position: relative;
          padding: 8px;

          &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: -37px;
            width: 37px;
            height: 37px;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c6eadf+0,ffffff+49,c6eadf+49,ffffff+50,ffffff+51,c6eadf+100&1+0,1+50,0+51,0+100 */
            background: -moz-linear-gradient(-45deg,  rgba(198,234,223,1) 0%, rgba(198,234,223,1) 49%, rgba(255,255,255,1) 50%, rgba(255,255,255,0) 51%, rgba(198,234,223,0) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(-45deg,  rgba(198,234,223,1) 0%,rgba(198,234,223,1) 49%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 51%,rgba(198,234,223,0) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(135deg,  rgba(198,234,223,1) 0%,rgba(198,234,223,1) 49%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 51%,rgba(198,234,223,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c6eadf', endColorstr='#00c6eadf',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
          }

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    tr.bottom {
      td, th {
        border-bottom: 5px solid #ffffff;
      }
    }
  }
}

#m-van-calendar-slick {
  .slick-prev {
    left: 10px;
    top: 28px;
    z-index: 1;
  }
  .slick-next {
    right: 10px;
    top: 28px;
    z-index: 1;
  }
}
.m-pricing {
  table-layout: fixed;

  th {
    text-align: center;
    background: #f7f7f7;
  }

  .date {
    font-family: $font-family-futura;
    text-align: left;
  }

  .price {
    background: #c6eadf;

    &:hover {
      background: #7ce69d;
    }

    a {
      color: inherit;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.month-selector {
  text-transform: uppercase;
  font-family: $font-family-futura;
  border: none;
  cursor: pointer;
}


.blog {

  .blog-sidebar {
    margin-top: 60px;

    h4 {
      margin-top: 0;
      text-transform: uppercase;
    }

    ul {
      margin-bottom: 30px;
      padding: 0;
      list-style: none;

      li {
        margin-bottom: 10px;
      }
    }
  }

  .blog-summary {
    margin: 30px 0;
    color: inherit;

    &:hover {
      text-decoration: none;
      h2 {
        color: $brand-orange;
      }
    }
  }

  h1 {
    font-size: 28px;
    margin-top: 60px;
    margin-bottom: 0;
  }
  h2 {
    font-size: 18px;
    margin-top: 0;
    text-transform: uppercase;
  }

  img.blog-image {
    margin: 30px 0;
  }

  .links {
    a {
      color: inherit;
      .glyphicon {
        font-size: 36px;
        color: $brand-orange;

        &.glyphicon-chevron-left {
          float: left;
          margin-right: 10px;
        }
        &.glyphicon-chevron-right {
          float: right;
          margin-left: 10px;
        }
      }
      strong {
        font-family: $font-family-futura;
      }

      &:hover {
        text-decoration: none;
        strong {
          color: $brand-orange;
        }
      }
    }
  }
}


#image-gallery {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;

  a {
    margin: 0 5px 5px 0;
    overflow: hidden;

    img {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
      -webkit-transition: .4s ease-in-out;
      transition: .4s ease-in-out;
    }

    &:hover img {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
}


.ui-datepicker {
  background: #ebebeb;
  padding: 5px 5px 0 5px;

  .ui-datepicker-header {
    .ui-datepicker-title {
      text-transform: uppercase;
    }
  }

  .ui-datepicker-calendar {
    background: #ffffff;
    margin-bottom: 5px;

    tbody td .ui-state-default {
      font-weight: bold;
      text-align: center;
    }

    .available {
      .ui-state-default {
        background: #c6eadf;
      }
      .ui-state-hover {
        border-color: #7ce69d;
        color: #666666;
      }
      .ui-state-active {
        border-color: #7ce69d;
        background: #7ce69d;
      }
    }
    .unavailable {
      .ui-state-default {
        background: #fbdddd;
      }
    }
  }
}


#worldpay-logos {
  table {
    float: left;

    td {
      text-align: left;
    }
  }
}


#preview-bar {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;

  .alert {
    margin-bottom: 0;
  }
}

.offenceWrapper {
  .remove {
    position: absolute;
    bottom: 5px;
    left: 0;
    font-size: 16px;
  }
  .col-xs-1 {
    min-height: 35px;
  }
}

.insuranceWrapper {
  padding-top: 30px;
}

@media (min-width: $screen-md-min) {
  .row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    flex-wrap: wrap;
  }
}


@media print {
  #footer {
    display: none;
  }
}