/*
Copyright (c) 2003-2015, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.md or http://ckeditor.com/license
*/

/*
 * Futura Bold
 * Cooper Light/Medium/Black
 */


@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=d2fea0fc-09d5-4d6a-b2da-67488e412f28");
@font-face{
	font-family:"Cooper";
	font-weight: 300;
	src:url("../../fonts/313faf7f-c695-4da8-aa44-5e7881466d2c.eot?#iefix");
	src:url("../../fonts/313faf7f-c695-4da8-aa44-5e7881466d2c.eot?#iefix") format("eot"),url("../../fonts/d02e214c-1036-412c-a19c-71c32739a0da.woff2") format("woff2"),url("../../fonts/05fbaea7-e813-47a1-a9cb-8bbad7e9ebb7.woff") format("woff"),url("../../fonts/22d3477e-bb6a-495e-932b-6614c48fabb3.ttf") format("truetype"),url("../../fonts/531de43f-21d8-43a7-9e2c-866b52ae72ba.svg#531de43f-21d8-43a7-9e2c-866b52ae72ba") format("svg");
}
@font-face{
	font-family:"Cooper";
	font-weight: 500;
	src:url("../../fonts/a7f3cc9b-2ecb-4ad7-8eaf-d3a41006b6d1.eot?#iefix");
	src:url("../../fonts/a7f3cc9b-2ecb-4ad7-8eaf-d3a41006b6d1.eot?#iefix") format("eot"),url("../../fonts/466ea4ff-b573-4810-9406-1f30c95340dc.woff2") format("woff2"),url("../../fonts/e452d20e-7af8-475d-9ca5-f1720fa697ec.woff") format("woff"),url("../../fonts/e63d93ee-a29a-4515-bab2-7264cf79a8a8.ttf") format("truetype"),url("../../fonts/96c0d555-00c3-4aa7-98e0-394b56215f35.svg#96c0d555-00c3-4aa7-98e0-394b56215f35") format("svg");
}
@font-face{
	font-family:"Cooper";
	font-weight: 900;
	src:url("../../fonts/4d139a05-2fd8-41f5-966f-a6bde424c606.eot?#iefix");
	src:url("../../fonts/4d139a05-2fd8-41f5-966f-a6bde424c606.eot?#iefix") format("eot"),url("../../fonts/b3e9c7a6-ff73-422b-a6fb-1c522d608b5c.woff2") format("woff2"),url("../../fonts/260d8507-7916-4b4f-84f0-3e6e48f5725a.woff") format("woff"),url("../../fonts/70220841-2ee0-47d7-94e9-9ef2d6166d31.ttf") format("truetype"),url("../../fonts/bfec4581-c5b8-4f3c-92dc-7b6c3b5f87cd.svg#bfec4581-c5b8-4f3c-92dc-7b6c3b5f87cd") format("svg");
}
@font-face{
	font-family:"Futura";
	font-weight: 700;
	src:url("../../fonts/87f56fc1-ab05-4355-90af-9e83740663af.eot?#iefix");
	src:url("../../fonts/87f56fc1-ab05-4355-90af-9e83740663af.eot?#iefix") format("eot"),url("../../fonts/3cf9e1e8-63a2-497f-86ed-6b63d6de1986.woff2") format("woff2"),url("../../fonts/184895ac-545b-450b-9d3a-c0a0a7620977.woff") format("woff"),url("../../fonts/bf8628d2-1ae0-4645-ba3f-3ce62d8d907c.ttf") format("truetype"),url("../../fonts/20073de8-56dd-4e4c-9434-5097c3f2fd28.svg#20073de8-56dd-4e4c-9434-5097c3f2fd28") format("svg");
}

body
{
	/* Font */
	font-family: 'Cooper', sans-serif;
	font-size: 12px;

	/* Text color */
	color: #333;

	/* Remove the background color to make it transparent */
	background-color: #fff;

	margin: 20px;
}

.cke_editable
{
	font-size: 13px;
	line-height: 1.6;
}

blockquote
{
	font-style: italic;
	font-family: Georgia, Times, "Times New Roman", serif;
	padding: 2px 0;
	border-style: solid;
	border-color: #ccc;
	border-width: 0;
}

.cke_contents_ltr blockquote
{
	padding-left: 20px;
	padding-right: 8px;
	border-left-width: 5px;
}

.cke_contents_rtl blockquote
{
	padding-left: 8px;
	padding-right: 20px;
	border-right-width: 5px;
}

a
{
	color: #ff9900;
}

ol,ul,dl
{
	/* IE7: reset rtl list margin. (#7334) */
	*margin-right: 0px;
	/* preserved spaces for list items with text direction other than the list. (#6249,#8049)*/
	padding: 0 40px;
}

h1,h2,h3,h4,h5,h6
{
	font-family: 'Futura', sans-serif;
	line-height: 1.2;
}
h3
{
	font-family: 'Cooper', sans-serif;
	font-weight: 900;
}

hr
{
	border: 0px;
	border-top: 1px solid #ccc;
}

img.right
{
	border: 1px solid #ccc;
	float: right;
	margin-left: 15px;
	padding: 5px;
}

img.left
{
	border: 1px solid #ccc;
	float: left;
	margin-right: 15px;
	padding: 5px;
}

pre
{
	white-space: pre-wrap; /* CSS 2.1 */
	word-wrap: break-word; /* IE7 */
	-moz-tab-size: 4;
	tab-size: 4;
}

.marker
{
	background-color: Yellow;
}

span[lang]
{
	font-style: italic;
}

figure
{
	text-align: center;
	border: solid 1px #ccc;
	border-radius: 2px;
	background: rgba(0,0,0,0.05);
	padding: 10px;
	margin: 10px 20px;
	display: inline-block;
}

figure > figcaption
{
	text-align: center;
	display: block; /* For IE8 */
}

a > img {
	padding: 1px;
	margin: 1px;
	border: none;
	outline: 1px solid #0782C1;
}
